################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
*.venv
*.myenv
*.vscode
*.vs
/LUISSchemaSerializationTool/.vs
/LUISSchemaSerializationTool/LUISSchemaSerializationTool/bin
/LUISSchemaSerializationTool/LUISSchemaSerializationTool/obj
.fake
.azure
.idea
/myenv
scriptenv/
__pycache__/
/venv1/# ログファイル
api_logs/
api_logs.zip
api_logs_extracted/
api_logs_latest/
latest_logs/
latest_logs.zip
latest_chat_logs/
new_logs/
new_logs.zip
logs/
debug_logs/
debug_logs.zip
v27_logs/
v27_logs.zip

# ACRビルド用一時フォルダ
src/App/acr-build/
src/api/python/acr-build/
